<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dt
d/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.XslAccountMapper" >
<insert id="insert" parameterType="pojo.XslAccount">
    INSERT INTO xsl_account (accountId,totalUser,newUser,totalTask,newTask,totalMoney,newMoney,totalDoneTask,newDonetask)
    VALUES (#{accountId},#{totalUser},#{newUser},#{totalTask},#{newTask},#{totalMoney},#{newMoney},#{totalDoneTask},#{newDoneTask})
</insert>
    <select id="selectLastOne" resultType="pojo.XslAccount">
        select * from xsl_account  ORDER BY id DESC LIMIT 1;
    </select>
</mapper>